/* Add all yout CSS formatting here */
body {
    background-color: lightpink;
}

h1, h2 {
    color: blue;
    text-align: center;
}

#bottom {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
}

.container {
    background-color: red;
}

#bottom h2{
    color: yellow;
}